@import url(https://fonts.googleapis.com/css?family=Space+Mono:regular,italic,700,700italic);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /*
     - Very dark cyan: hsl(183, 100%, 15%)
- Dark grayish cyan: hsl(186, 14%, 43%)
- Dark grayish cyan: hsl(184, 14%, 56%)
- Light grayish cyan: hsl(185, 41%, 84%)
- Light grayish cyan: hsl(189, 41%, 97%)
- White: hsl(0, 0%, 100%)
     */
  --primary: #26c0ab;
  /*Neutral*/
  --very-dark-cyan: hsl(183, 100%, 15%);
  --dark-grayish-cyan: hsl(186, 14%, 43%);
  --dark-grayish-nians-cyan: hsl(184, 14%, 56%);
  --light-grayish-cyan: hsl(185, 41%, 84%);
  --light-grayish-nians-cyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
}

body {
  font-family: "Space Mono", sans-serif;
  line-height: 1.5;
  background-color: var(--light-grayish-cyan);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h4 {
  padding-top: 2rem;
  padding-bottom: 80px;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1.9px;
  color: hsl(183, 100%, 15%);
}
p {
  padding-bottom: 12px;
  color: var(--dark-grayish-nians-cyan);
}
input {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--very-dark-cyan);
  height: 46px;
  border: none;
  padding: 10px;
  background-color: var(--light-grayish-nians-cyan);
  width: 100%;
  position: relative;
  text-align: right;
  border-radius: 4px;
}

input.bill_input::placeholder,
input.people_input::placeholder {
  font-size: 1.5rem;
}

input.people_input.error {
  outline: none;
  border: 2px solid indianred;
}

.icon-dollar {
  position: absolute;
  top: 52px;
  bottom: 0;
  left: 15px;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 2rem;
  border-radius: 10px;
  background-color: white;
}
.logo {
  margin: 5rem 0 3.5rem 0;
}

.btn {
  padding: 0.8rem 1.5rem;
  border: none;
  background-color: var(--very-dark-cyan);
  color: white;
  font-family: "Space Mono", sans-serif;
  font-size: 1.1rem;
  border-radius: 5px;
  max-width: 100%;
  text-align: center;
  font-weight: bold;
}
.btn:hover {
  background-color: var(--light-grayish-cyan);
  color: var(--very-dark-cyan);
}

.error-message {
  opacity: 0;
}

.show-error-message {
  transition: opacity 0.3s;
  opacity: 1;
  color: indianred;
  font-weight: 700;
  font-size: 12px;
}

input.custom {
  height: 51.53px;
  text-align: right;
  background-color: var(--light-grayish-nians-cyan);
  color: var(--dark-grayish-nians-cyan);
}
input.custom:hover {
  background-color: inherit;
}
input.custom::placeholder {
  text-align: center;
}
.custom:focus {
  outline: none;
  border: 2px solid #26c0ab;
  color: var(--very-dark-cyan);
}
input::placeholder {
  font-size: 0.9rem;
  font-weight: bold;
  color: var(--dark-grayish-nians-cyan);
}

input:focus {
  outline: none;
  border: 2px solid var(--primary);
}
.active-state {
  outline: none;
  border: 2px solid var(--primary);
}

.bill {
  padding-bottom: 36px;
  position: relative;
}

.select_tip {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto;
  gap: 1.5rem;
}

.people {
  position: relative;
}
.people_in:focus {
  outline: none;
  border: 1px solid indianred;
}
.people-info {
  padding-top: 32px;
  padding-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.people-info p {
  padding-bottom: 0;
}

.icon-person {
  position: absolute;
  top: 82px;
  bottom: 0;
  left: 15px;
}

.bill_result {
  margin-top: 32px;
  border-radius: 10px;
  background-color: var(--very-dark-cyan);
  padding-top: 2.75rem;
  padding-left: 1.5rem;
  padding-bottom: 1.5rem;
  padding-right: 24px;
}

.tip_amount {
  display: flex;
  justify-content: space-between;
  padding-bottom: 24px;
}
.amount {
  display: flex;
  flex-direction: column;
  color: white;
}

.amount small {
  color: var(--dark-grayish-nians-cyan);
}
.tip_amount_header_person,
.tip_amount_header_total {
  color: var(--primary);
  font-size: 23px;
}
.total_reset {
  padding: 0.8rem 1.4rem;
  width: 100%;
  background-color: var(--primary);
  color: var(--very-dark-cyan);
  font-weight: bold;
  text-transform: uppercase;
}
.total_reset:hover {
  background-color: var(--light-grayish-cyan);
  color: var(--very-dark-cyan);
}

.active {
  background-color: #26c0ab;
  color: #00494d;
}
@media (min-width: 700px) {
  .logo {
    margin: 0 0 3.5rem 0;
  }
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 850px;
  }
  .bill_info {
    padding-right: 50px;
  }
  .select_tip {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }
  .tip_amount {
    padding-bottom: 46px;
  }
  .tip_amount_header {
    font-size: 35px;
  }
  .bill_result {
    margin-top: 0;
  }
  .bill-result > button.total_reset {
    margin-bottom: 92px;
  }
  .reset_button {
    padding-top: 4rem;
  }
  .total_reset:hover {
    background-color: var(--light-grayish-cyan);
    color: var(--very-dark-cyan);
  }
}
