*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    font: inherit;
}

:root {
    --clr-blue: hsl(246, 80%, 60%);
    --clr-red-200: hsl(15, 100%, 70%);
    --clr-blue-200: hsl(195, 74%, 62%);
    --clr-red-400: hsl(348, 100%, 68%);
    --clr-green-200: hsl(145, 58%, 55%);
    --clr-violet: hsl(264, 64%, 52%);
    --clr-orange: hsl(43, 84%, 65%);
    --clr-white: hsl(0, 0%, 100%);


    --clr-neutral-100: hsl(236, 100%, 87%);
    --clr-neutral-300: hsl(235, 45%, 61%);
    --clr-neutral-600: hsl(235, 46%, 20%);
    --clr-neutral-900: hsl(226, 43%, 10%);

    /*Templating for cards*/

    --bg: var(--clr-neutral-300);
    --transition: 200ms ease-out;
    --avatar: var(--clr-blue);
}



body {
    font-family: 'Rubik', sans-serif;
    background-color: var(--clr-neutral-900);
    color: white;

    display: grid;
    place-items: center;
    min-height: 100vh;
    padding: 2rem;
}


.card-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    align-content: center;
}

.card {
    background-color: var(--clr-neutral-600);
    border-radius: 1rem;
    width: fit-content;
}

.card--avatar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}


.card--avatar-top {
    display: flex;
    align-items: center;
    border-radius: 1rem;
    background-color: var(--clr-blue);
    padding: 1rem;
    gap: 1rem;
}

.avatar {
    width: clamp(4rem, 7vw, 7.5rem);
    border: .2rem solid white;
    border-radius: 50%;
    object-fit: cover;
    flex: 1 1 20%;
}

h1 {
    font-size: 18px;
    font-weight: 300;
    flex: 1 1 50%;
}

h2 {
    font-size: 1rem;
    font-weight: 400;
}

h1>span {
    font-size: .8rem;
    color: var(--clr-neutral-100);
}


.card--avatar-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: var(--clr-neutral-600);
    padding: 1rem .5rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.btn {
    font: inherit;
    background: inherit;
    border: none;
    color: var(--clr-neutral-100);
    flex: 1 1 100%;
    border-radius: .5rem;
    padding: .2rem .8rem;
    cursor: pointer;
    box-shadow: 0 0 0 -.5rem var(--bg);
    transition: box-shadow var(--transition),
        color var(--transition);
}

/* .btn.where =>where btn is active or hover use white color*/
.btn:where(.active, :hover, :focus-within) {
    color: var(--clr-white);
}

.btn::focus {
    outline: none;
}

.btn:focus-within {
    box-shadow: 0 0 0 -.2rem var(--bg),
        0 0 0 -.8rem var(--avatar);
}


/*---- Time card -----*/
.container-timecards {
    display: flex;
    flex-direction: column;
    position: relative;



}

.work {
    background-color: var(--clr-red-200);
}

.play {
    background-color: var(--clr-blue-200);
}

.study {
    background-color: var(--clr-red-400);

}

.exersize {
    background-color: var(--clr-green-200);
}

.social {
    background-color: var(--clr-violet);
}

.self-care {
    background-color: var(--clr-orange);
}


.timecards-top {
    border-radius: 1rem;
    display: flex;
    justify-content: end;
    align-items: normal;
    padding-right: 1rem;
    overflow: hidden;
    position: relative;
}

/* .timecard-top {
    position:relative;
    overflow: hidden;
} */
.exersize-icon {
    padding-top: .4rem;
}

.card-sm {
    padding: 1.5rem 1rem;
    margin-top: -2rem;

}

.timecards-bottom {
    background-color: var(--clr-neutral-600);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: relative;
}

.social__icon {
    margin-top: -2.3rem;
}

.timecard__icon {
    margin-top: -1rem;
}


.timercards-content-left {
    display: flex;
    flex-direction: column;
    gap: .5rem;

}

.timercards-content-right {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1.5rem;

}

.timecards__current {
    font-size: 1.8rem;
    font-weight: 300;
}

.timecards__previous {
    font-size: .8rem;
    font-weight: 300;
    color: var(--clr-neutral-100);
}

@media screen and (min-width:600px) {

    .card-container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;
        max-width: 1200px;
    }

    .container-timecards {

        flex: 1 1 80%;
        grid-template-columns: repeat(2, 1fr);
    }
}